<div class="jumbotron col-sm-8 col-md-8 col-lg-8 section-main">
    <h1 class="display-4">Calculate Interest!</h1>
    <h1 class="display-3" >Add item(s) <img (click)="addItem()"  class="add-icon-img" src="../assets/plus-primary.jpg"
        width="40" height="40" /></h1>
  
        <h2>
          Total interest:  {{totalInterest | number : '1.2-2'}}
        </h2>
        <h2>
          Total amount:    {{totalAmount | number : '1.2-2'}}
        </h2>
    <hr class="my-4">
  
  
    <form style="margin: 20px;" >
  
        <ng-container  *ngFor="let item of formData;let i=index">
  
          <div class="row new-card">
  
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="card card-main">
                <div class="card-header card-header-section">
                  <div class="col-sm-10 col-md-10 col-lg-10">
                    S.No  {{item.id}}
                  </div>
                  <div class="col-sm-2 col-md-2 col-lg-2" >
                    <svg (click)="removeItem(item, i)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
  
                  </div>
                 
                </div>
                <div class="card-body card-division">
  
                  <div class="first-body col-sm-9 col-md-9 col-lg-9 p-1">
                    <div class="form-group row form-element">
                      <div class="col-sm-3">
                        <label for="pamount" class="col-form-label">Principal Amount</label>
                      </div>
                      <div class="col-sm-6">
                        <input id="pamount" name="fPrincipal" class="form-control form-control-lg" type="number"
                          placeholder="principal amount" [(ngModel)]="item.principal">
                      </div>
                    </div>
  
  
                    <div class="form-group row form-element">
                      <div class="col-sm-3">
                        <label for="date" class="col-form-label">Date</label>
                      </div>
  
                      <div class="col-sm-6">
                        <mat-form-field class="choose-date">
                          <mat-label>Choose a date</mat-label>
                          <input matInput [matDatepicker]="picker" [max]="today" name="fDate" [(ngModel)]="item.date">
                          <mat-hint>MM/DD/YYYY</mat-hint>
                          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
  
  
                    <div class="form-group row form-element">
                      <label for="rate" class="col-sm-3 col-form-label">Rate</label>
                      <div class="col-sm-6">
                        <input id="rate" name="fRate" class="form-control form-control-lg" type="number"
                          placeholder="rate %" [(ngModel)]="item.rate">
                      </div>
                    </div>
  
                    <button  class="btn btn-primary" (click)="calculate(i)">Calculate</button>
                  </div>
  
                  <div class="second-body col-sm-3 col-md-3 col-lg-3">
                    <div class="jumbotron jumbotron-fluid">
                      <div class="container">
                        
                      
                            Compound Interest:  
                            <div class="card-body">{{item.compoundInterest  | number : '1.2-2'}}
                            </div>
                            
                     
  
                       
                          Total Amount :

                          <div class="card-body">{{item.compoundAmount  | number : '1.2-2'}}
                          </div>

                       
  
                      </div>
                    </div>
                  </div>
  
  
  
  
  
                </div>
  
  
  
              </div>
            </div>
  
  
  
          </div>
        </ng-container>
    </form>
  
  </div>
  