<div class="jumbotron col-sm-8 col-md-8 col-lg-8 section-main">
    <h1 class="display-4">Calculate Interest!</h1>
    <h1 class="display-3" (click)="addItems()">Add item(s) <img class="add-icon-img" src="../assets/plus-primary.jpg" width="40" height="40"/></h1>
    <hr class="my-4">
    

    <form style="margin: 20px;" [formGroup]="myForm">

      <ng-container formArrayName="items">
        <ng-container *ngFor="let item of items; let i = index" [formGroupName]="i">

    <div class="row new-card" >

      <div class="col-sm-10 col-md-10 col-lg-10">
        <div class="card">
          <div class="card-body">
            
  
           
              <div class="form-group row">
                <label for="pamount" class="col-sm-2 col-form-label">principal amount</label>
                <div class="col-sm-10">
                  <input id="pamount"  name="fPrincipal" class="form-control form-control-lg" type="number" placeholder="principal amount" formControlName="fPrincipal">
                </div>
              </div>
              <div class="form-group row">
                <label for="date" class="col-sm-2 col-form-label">Date</label>
                <mat-form-field>
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker" [max]="today" name="fDate" formControlName="fDate">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-group row">
                <label for="rate" class="col-sm-2 col-form-label">Rate</label>
                <div class="col-sm-10">
                  <input id="rate" name="fRate" class="form-control form-control-lg" type="number" placeholder="rate %" formControlName="fRate">
                </div>
              </div>
              <button mat-button color="primary" (click)="calculateEachInterest(item)">Submit</button>
           
  
  
  
          </div>
        </div>
      </div>
  
  
    </div>
        </ng-container>
      </ng-container>
  </form>
  
  </div>
  
  
  
  
  
  
  
  
  
  