<div class="jumbotron col-sm-8 section-main">
  <h1 class="display-4">Calculate Interest!</h1>
  <h1 class="display-3">Add item(s) <img class="add-icon-img" src="../assets/plus-primary.jpg" width="40" height="40"/></h1>
  <hr class="my-4">
  
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          

          <form style="margin: 20px;">
            <div class="form-group row">
              <label for="pamount" class="col-sm-2 col-form-label">principal amount</label>
              <div class="col-sm-10">
                <input id="pamount"  name="pamount" class="form-control form-control-lg" type="text" placeholder="principal amount" [(ngModel)]="principal">
              </div>
            </div>
            <div class="form-group row">
              <label for="date" class="col-sm-2 col-form-label">Date</label>
              <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [max]="today" name="date" [(ngModel)]="date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="form-group row">
              <label for="rate" class="col-sm-2 col-form-label">Rate</label>
              <div class="col-sm-10">
                <input id="rate" name="rate" class="form-control form-control-lg" type="text" placeholder="rate %" [(ngModel)]="rate">
              </div>
            </div>
            <button mat-button color="primary" (click)="calculateInterest()">Submit</button>
          </form>



        </div>
      </div>
    </div>


  </div>


</div>









